{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}


    <header class="masthead">
        <div class="container d-flex justify-content-center">
            <div style="width: 600px;
            overflow: hidden;
            padding-top: 150px;
            padding-bottom: 70px">
                <div style="background-color: white; border-radius: 5%; overflow: hidden;">
                    <form method="post">
                        {% csrf_token %}
                        <h2 style="background-color:black; padding-top: 40px; padding-bottom: 20px">Sign Up</h2>
                        <div style="margin: 30px; color: black; text-align: left">
                            {% for field in form %}
                                <div class="form-group">
                                    <span class="form-p">{{ field.label_tag }}</span>
                                    {{ field | add_class:"form-control1" }}
                                    <span class="form-error">{{ field.errors }}</span>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="d-flex justify-content-center mt-5">
                                    <input type="hidden" value="/"/>
                                    <input type="submit" value="Sign Up" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>


{% endblock %}